textarea {
  width: 100px;
  margin: 5px;
  resize: vertical;
}
.selected {
  background-color: azure;
}
pre {
  font-size: 30px;
  opacity: 1;
  background: white;
}
#info {
  display: none;
}
.show-info {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 50px;
  color: blue;
  cursor: pointer;
}
.pseudo-parent-selector1a .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1b .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1b .left-panel:hover + .right-panel-selector {
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  border-radius: 5px;
}
.pseudo-parent-selector1c .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1c .left-panel:hover + .right-panel-selector {
  width: 200%;
  height: 200%;
  border: 1px solid blue;
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.negative-margin1a {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1a .row {
  margin-top: 50px;
}
.negative-margin1a .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1b {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1b .row {
  margin-top: 50px;
}
.negative-margin1b .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1b .row-text4 {
  border-top: 2px dashed gray;
}
.negative-margin1b .row-text3 {
  border-bottom: 2px dashed gray;
}
.negative-margin1c {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1c .row {
  margin-top: 50px;
}
.negative-margin1c .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1c .row-text > span {
  padding: 0 20px;
}
.negative-margin1c .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1c .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin1d {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1d .row {
  margin-top: 50px;
}
.negative-margin1d .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
  margin-top: -75px;
}
.negative-margin1d .row-text > span {
  padding: 0 20px;
}
.negative-margin1d .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1d .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin1e {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1e .row {
  margin-top: 50px;
}
.negative-margin1e .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
  margin-top: -75px;
}
.negative-margin1e .row-text > span {
  background: white;
  padding: 0 20px;
}
.negative-margin1e .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1e .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin2a .row {
  margin-top: 20px;
}
.negative-margin2a .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .left-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .right-column > div {
  margin-top: 10px;
}
.negative-margin2a .right-column > div:first-child {
  margin-top: 0;
}
.negative-margin2b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin2b .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
}
.negative-margin2b .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin2c .row {
  margin-top: 20px;
}
.negative-margin2c .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2c .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.negative-margin2c .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2c .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2c .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin2d .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin2d .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2d .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.negative-margin2d .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2d .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2d .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3a .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3a .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3a .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3b .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3b .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3b .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
}
.negative-margin3c .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3c .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3c .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3c .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3c .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin3d .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3d .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3d .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3d .left-panel-closer {
  margin-top: -5px;
}
.negative-margin3d .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3d .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin4a .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin4a .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin4a .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin4a .left-panel-closer {
  margin-top: -5px;
}
.negative-margin4a .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin4a .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin4a .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin4b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin4b .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin4b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin4b .left-panel-closer {
  width: 100%;
  background: white;
}
.negative-margin4b .left-panel-closer > div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -4px;
}
.negative-margin4b .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin4b .left-column:hover ~ .left-panel-closer-column .left-panel-closer > div {
  background: yellow;
  opacity: 0.5;
}
.negative-margin5 .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.negative-margin5 .row {
  margin-top: 20px;
}
.negative-margin5 .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin5 .left-panel {
  background: lightgray;
}
.negative-margin5 .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin5 .right-column .right-panel {
  margin-top: 30px;
}
.negative-margin5 .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1a .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.borders1a .row {
  margin-top: 20px;
}
.borders1a .tmp-panel > .panel-content {
  background: lightgray;
}
.borders1a .left-panel {
  background: lightgray;
}
.borders1a .right-panel > .panel-content {
  background: lightgray;
}
.borders1a .right-column .right-panel {
  margin-top: 30px;
}
.borders1a .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1a .drop-hover {
  border: 3px solid blue;
}
.borders1b .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.borders1b .row {
  margin-top: 20px;
}
.borders1b .tmp-panel > .panel-content {
  background: lightgray;
}
.borders1b .left-panel {
  background: lightgray;
}
.borders1b .right-panel > .panel-content {
  background: lightgray;
}
.borders1b .right-column .right-panel {
  margin-top: 30px;
}
.borders1b .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1b .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1a .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.first-element1a .row {
  margin-top: 20px;
}
.first-element1a .tmp-panel > .panel-content {
  background: lightgray;
}
.first-element1a .left-panel {
  background: lightgray;
}
.first-element1a .right-panel > .panel-content {
  background: lightgray;
}
.first-element1a .right-column .right-panel {
  margin-top: 30px;
}
.first-element1a .right-column .right-panel:first-child {
  margin-top: 0;
}
.first-element1a .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1b .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.first-element1b .row {
  margin-top: 20px;
}
.first-element1b .tmp-panel > .panel-content {
  background: lightgray;
}
.first-element1b .left-panel {
  background: lightgray;
}
.first-element1b .right-panel > .panel-content {
  background: lightgray;
}
.first-element1b .right-column .right-panel {
  margin-top: 30px;
}
.first-element1b .right-column .right-panel:first-child {
  margin-top: 0;
}
.first-element1b .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1b .drop-hover ~ .drop-hover {
  box-shadow: initial;
}
.css-functions1a .side-window .side-header {
  width: 500px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  background: lightblue;
}
.css-functions1a .side-window .side-content {
  width: 500px;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 100px;
  left: 0;
  background: lightgray;
}
.css-functions1a .rest-of-window {
  margin-left: 550px;
}
.css-functions1b .side-window .side-header {
  width: 500px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  background: lightblue;
}
.css-functions1b .side-window .side-content {
  width: 500px;
  height: calc(100% - 100px);
  overflow: scroll;
  position: fixed;
  top: 100px;
  left: 0;
  background: lightgray;
}
.css-functions1b .rest-of-window {
  margin-left: 550px;
}
.css-functions2a .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2a .middle-bar .resizable-content {
  position: relative;
  left: 20px;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  resize: both;
  overflow: auto;
  padding: 50px;
}
.css-functions2b .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2b .middle-bar .resizable-content {
  position: relative;
  left: -100%;
  width: 100%;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  resize: both;
  overflow: auto;
  padding: 50px;
}
.css-functions2c .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2c .middle-bar .resizable-content {
  position: relative;
  left: 0;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  transform: translate(-100%);
  resize: both;
  overflow: auto;
  padding: 50px;
}
