textarea {
  width: 100px;
  margin: 5px;
  resize: vertical;
}
.pseudo-parent-selector1 .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1 .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1 .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1 .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1 .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1 .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1 .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector2 .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector2 .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector2 .left-panel {
  padding: 10px;
}
.pseudo-parent-selector2 .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector2 .right-panel {
  padding: 10px;
}
.pseudo-parent-selector2 .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector2 .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector2 .left-panel:hover + .right-panel-selector {
  width: 200%;
  height: 200%;
  border: 1px solid blue;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.negative-margin1 {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1 .row {
  margin-top: 50px;
}
.negative-margin1 .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin2 {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin2 .row {
  margin-top: 50px;
}
.negative-margin2 .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin2 .row-text > span {
  padding: 0 20px;
}
.negative-margin2 .crossed-line-container {
  padding: 0 30px;
}
.negative-margin2 .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin3 .row {
  margin-top: 20px;
}
.negative-margin3 .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin3 .left-panel > .panel-content {
  background: lightgray;
}
.negative-margin3 .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin3 .right-column > div {
  margin-top: 10px;
}
.negative-margin3 .right-column > div:first-child {
  margin-top: 0;
}
.negative-margin4 .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin4 .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin4 .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.negative-margin4 .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin4 .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin4 .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin5 .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin5 .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin5 .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin5 .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin5 .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin5 .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin6 .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin6 .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin6 .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin6 .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin6 .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin6 .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin6 .left-panel-closer {
  margin-top: -5px;
}
.negative-margin6 .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin6 .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin7 .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin7 .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin7 .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin7 .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin7 .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin7 .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin7 .left-panel-closer {
  margin-top: -5px;
}
.negative-margin7 .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin7 .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin7 .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin8 .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin8 .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin8 .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin8 .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin8 .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin8 .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin8 .left-panel-closer {
  width: 100%;
  background: white;
}
.negative-margin8 .left-panel-closer > div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -4px;
}
.negative-margin8 .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin8 .left-column:hover ~ .left-panel-closer-column .left-panel-closer > div {
  background: yellow;
  opacity: 0.5;
}
