textarea {
  width: 100px;
  margin: 5px;
  resize: vertical;
}
.selected {
  background-color: azure;
}
pre {
  font-size: 30px;
  opacity: 1;
  background: white;
}
.glyphicon {
  opacity: 0.1;
}
#info {
  display: none;
}
.show-info {
  position: fixed;
  left: 10px;
  top: 10px;
  font-size: 50px;
  color: blue;
  cursor: pointer;
}
.pseudo-parent-selector1a .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1a .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1a .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1b .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1b .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1b .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1b .left-panel:hover + .right-panel-selector {
  width: 100%;
  height: 100px;
  border: 1px solid blue;
  border-radius: 5px;
}
.pseudo-parent-selector1c .tmp-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .tmp-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .right-panel {
  padding: 10px;
}
.pseudo-parent-selector1c .right-panel > .panel-content {
  border-radius: 5px;
  background: lightgray;
  border: 1px solid gray;
  height: 100px;
  padding: 10px;
}
.pseudo-parent-selector1c .left-panel:hover > .panel-content {
  background: lightyellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.pseudo-parent-selector1c .left-panel:hover + .right-panel-selector {
  width: 200%;
  height: 200%;
  border: 1px solid blue;
  border-radius: 5px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}
.negative-margin1a {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1a .row {
  margin-top: 50px;
}
.negative-margin1a .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1b {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1b .row {
  margin-top: 50px;
}
.negative-margin1b .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1b .row-text4 {
  border-top: 2px dashed gray;
}
.negative-margin1b .row-text3 {
  border-bottom: 2px dashed gray;
}
.negative-margin1c {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1c .row {
  margin-top: 50px;
}
.negative-margin1c .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
}
.negative-margin1c .row-text > span {
  padding: 0 20px;
}
.negative-margin1c .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1c .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin1d {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1d .row {
  margin-top: 50px;
}
.negative-margin1d .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
  margin-top: -75px;
}
.negative-margin1d .row-text > span {
  padding: 0 20px;
}
.negative-margin1d .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1d .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin1e {
  border: 1px solid gray;
  padding: 10px;
}
.negative-margin1e .row {
  margin-top: 50px;
}
.negative-margin1e .row-text {
  text-align: center;
  font-size: 35px;
  height: 50px;
  margin-top: -75px;
}
.negative-margin1e .row-text > span {
  background: white;
  padding: 0 20px;
}
.negative-margin1e .crossed-line-container {
  padding: 0 30px;
}
.negative-margin1e .crossed-line-container .crossed-line {
  border-top: 2px dashed gray;
  height: 2px;
}
.negative-margin2a .row {
  margin-top: 20px;
}
.negative-margin2a .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .left-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2a .right-column > div {
  margin-top: 10px;
}
.negative-margin2a .right-column > div:first-child {
  margin-top: 0;
}
.negative-margin2b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin2b .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
}
.negative-margin2b .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin2c .row {
  margin-top: 20px;
}
.negative-margin2c .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2c .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.negative-margin2c .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2c .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2c .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin2d .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin2d .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin2d .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
.negative-margin2d .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin2d .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin2d .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3a .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3a .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3a .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3a .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3b .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3b .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3b .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
}
.negative-margin3c .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3c .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3c .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3c .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3c .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3c .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin3d .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin3d .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin3d .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin3d .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin3d .left-panel-closer {
  margin-top: -5px;
}
.negative-margin3d .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin3d .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin4a .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin4a .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4a .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin4a .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin4a .left-panel-closer {
  margin-top: -5px;
}
.negative-margin4a .left-panel-closer div {
  background: white;
  height: 5px;
}
.negative-margin4a .left-panel-closer div div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.negative-margin4a .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin4b .row {
  margin-top: 20px;
  overflow: hidden;
}
.negative-margin4b .tmp-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .left-panel {
  background: lightgray;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .right-panel > .panel-content {
  background: lightgray;
  border: 3px solid blue;
  border-radius: 5px;
}
.negative-margin4b .right-column .right-panel {
  margin-top: 10px;
}
.negative-margin4b .right-column .right-panel:first-child {
  margin-top: 0;
}
.negative-margin4b .left-panel-closer {
  width: 100%;
  background: white;
}
.negative-margin4b .left-panel-closer > div {
  height: 5px;
  width: 100%;
  background: lightgray;
  border-bottom: 3px solid blue;
  border-left: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: -4px;
}
.negative-margin4b .left-column:hover .left-panel {
  background: yellow;
  opacity: 0.5;
  color: blue;
  font-weight: bold;
}
.negative-margin4b .left-column:hover ~ .left-panel-closer-column .left-panel-closer > div {
  background: yellow;
  opacity: 0.5;
}
.negative-margin5 .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.negative-margin5 .row {
  margin-top: 20px;
}
.negative-margin5 .tmp-panel > .panel-content {
  background: lightgray;
}
.negative-margin5 .left-panel {
  background: lightgray;
}
.negative-margin5 .right-panel > .panel-content {
  background: lightgray;
}
.negative-margin5 .right-column .right-panel {
  margin-top: 30px;
}
.negative-margin5 .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1a .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.borders1a .row {
  margin-top: 20px;
}
.borders1a .tmp-panel > .panel-content {
  background: lightgray;
}
.borders1a .left-panel {
  background: lightgray;
}
.borders1a .right-panel > .panel-content {
  background: lightgray;
}
.borders1a .right-column .right-panel {
  margin-top: 30px;
}
.borders1a .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1a .drop-hover {
  border: 3px solid blue;
}
.borders1b .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.borders1b .row {
  margin-top: 20px;
}
.borders1b .tmp-panel > .panel-content {
  background: lightgray;
}
.borders1b .left-panel {
  background: lightgray;
}
.borders1b .right-panel > .panel-content {
  background: lightgray;
}
.borders1b .right-column .right-panel {
  margin-top: 30px;
}
.borders1b .right-column .right-panel:first-child {
  margin-top: 0;
}
.borders1b .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1a .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.first-element1a .row {
  margin-top: 20px;
}
.first-element1a .tmp-panel > .panel-content {
  background: lightgray;
}
.first-element1a .left-panel {
  background: lightgray;
}
.first-element1a .right-panel > .panel-content {
  background: lightgray;
}
.first-element1a .right-column .right-panel {
  margin-top: 30px;
}
.first-element1a .right-column .right-panel:first-child {
  margin-top: 0;
}
.first-element1a .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1b .thin-line {
  width: 100%;
  height: 3px;
  background: lightgray;
  display: block;
  margin-top: 40px;
}
.first-element1b .row {
  margin-top: 20px;
}
.first-element1b .tmp-panel > .panel-content {
  background: lightgray;
}
.first-element1b .left-panel {
  background: lightgray;
}
.first-element1b .right-panel > .panel-content {
  background: lightgray;
}
.first-element1b .right-column .right-panel {
  margin-top: 30px;
}
.first-element1b .right-column .right-panel:first-child {
  margin-top: 0;
}
.first-element1b .drop-hover {
  box-shadow: 0 0 0 3px blue;
}
.first-element1b .drop-hover ~ .drop-hover {
  box-shadow: initial;
}
.css-functions1a .side-window .side-header {
  width: 500px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  background: lightblue;
}
.css-functions1a .side-window .side-content {
  width: 500px;
  height: 100%;
  overflow: scroll;
  position: fixed;
  top: 100px;
  left: 0;
  background: lightgray;
}
.css-functions1a .rest-of-window {
  margin-left: 550px;
}
.css-functions1b .side-window .side-header {
  width: 500px;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  background: lightblue;
}
.css-functions1b .side-window .side-content {
  width: 500px;
  height: calc(100% - 100px);
  overflow: scroll;
  position: fixed;
  top: 100px;
  left: 0;
  background: lightgray;
}
.css-functions1b .rest-of-window {
  margin-left: 550px;
}
.css-functions2a .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2a .middle-bar .resizable-content {
  position: relative;
  left: 20px;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  resize: both;
  overflow: auto;
  padding: 50px;
}
.css-functions2b .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2b .middle-bar .resizable-content {
  position: relative;
  left: -100%;
  width: 100%;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  resize: both;
  overflow: auto;
  padding: 50px;
}
.css-functions2c .middle-bar {
  position: fixed;
  left: 50%;
  top: 0;
  width: 20px;
  height: 100%;
  background: lightblue;
  border: 1px solid blue;
}
.css-functions2c .middle-bar .resizable-content {
  position: relative;
  left: 0;
  top: 0;
  background: lightgreen;
  border: 1px solid green;
  transform: translate(-100%);
  resize: both;
  overflow: auto;
  padding: 50px;
}
.page-header {
  background-color: azure;
  height: 50px;
  width: 100%;
}
.css-functions3a .col-xs-2 {
  height: 300px;
  background-color: lightyellow;
}
.css-functions3a .tab-header {
  background-color: yellow;
  width: 100%;
  height: 50px;
}
.css-functions3a .tab-header h2 {
  margin-top: 0;
}
.css-functions3b .col-xs-2 {
  height: 300px;
  background-color: lightyellow;
}
.css-functions3b .tab-header {
  background-color: yellow;
  width: calc((100vw - 120%) / 2 + 100%);
  height: 50px;
}
.css-functions3b .tab-header h2 {
  margin-top: 0;
}
.css-functions3c .col-xs-2 {
  height: 300px;
  background-color: lightyellow;
}
.css-functions3c .tab-header {
  background-color: yellow;
  width: calc((100vw - 120%) / 2 + 100% - 50px);
  height: 50px;
}
.css-functions3c .tab-header h2 {
  margin-top: 0;
}
.css-functions3d .col-xs-2 {
  height: 300px;
  background-color: lightyellow;
}
.css-functions3d .tab-header {
  background-color: yellow;
  width: calc((100vw - 120%) / 2 + 100% - 50px);
  box-shadow: 100px 0 0 0 yellow;
  height: 50px;
}
.css-functions3d .tab-header h2 {
  margin-top: 0;
}
.less1a,
.less1b,
.less1c,
.less1d {
  margin-top: 100px;
}
.less1a .row,
.less1b .row,
.less1c .row,
.less1d .row {
  margin: 0;
}
.less1a div,
.less1b div,
.less1c div,
.less1d div {
  padding: 0;
  box-shadow: 0 0 1px 0 lightgray inset;
}
.less1a input,
.less1b input,
.less1c input,
.less1d input,
.less1a button,
.less1b button,
.less1c button,
.less1d button {
  width: 100%;
}
.less1a b,
.less1b b,
.less1c b,
.less1d b {
  color: green;
  margin-bottom: 10px;
  display: block;
}
.less1b .grid-col-override-11 .col-xs-11,
.less1c .grid-col-override-11 .col-xs-11,
.less1d .grid-col-override-11 .col-xs-11 {
  width: 100%;
}
.less1b .grid-col-override-11 .col-xs-offset-11,
.less1c .grid-col-override-11 .col-xs-offset-11,
.less1d .grid-col-override-11 .col-xs-offset-11 {
  margin-left: 100%;
}
.less1b .grid-col-override-11 .col-xs-10,
.less1c .grid-col-override-11 .col-xs-10,
.less1d .grid-col-override-11 .col-xs-10 {
  width: 90.90909091%;
}
.less1b .grid-col-override-11 .col-xs-offset-10,
.less1c .grid-col-override-11 .col-xs-offset-10,
.less1d .grid-col-override-11 .col-xs-offset-10 {
  margin-left: 90.90909091%;
}
.less1b .grid-col-override-11 .col-xs-9,
.less1c .grid-col-override-11 .col-xs-9,
.less1d .grid-col-override-11 .col-xs-9 {
  width: 81.81818182%;
}
.less1b .grid-col-override-11 .col-xs-offset-9,
.less1c .grid-col-override-11 .col-xs-offset-9,
.less1d .grid-col-override-11 .col-xs-offset-9 {
  margin-left: 81.81818182%;
}
.less1b .grid-col-override-11 .col-xs-8,
.less1c .grid-col-override-11 .col-xs-8,
.less1d .grid-col-override-11 .col-xs-8 {
  width: 72.72727273%;
}
.less1b .grid-col-override-11 .col-xs-offset-8,
.less1c .grid-col-override-11 .col-xs-offset-8,
.less1d .grid-col-override-11 .col-xs-offset-8 {
  margin-left: 72.72727273%;
}
.less1b .grid-col-override-11 .col-xs-7,
.less1c .grid-col-override-11 .col-xs-7,
.less1d .grid-col-override-11 .col-xs-7 {
  width: 63.63636364%;
}
.less1b .grid-col-override-11 .col-xs-offset-7,
.less1c .grid-col-override-11 .col-xs-offset-7,
.less1d .grid-col-override-11 .col-xs-offset-7 {
  margin-left: 63.63636364%;
}
.less1b .grid-col-override-11 .col-xs-6,
.less1c .grid-col-override-11 .col-xs-6,
.less1d .grid-col-override-11 .col-xs-6 {
  width: 54.54545455%;
}
.less1b .grid-col-override-11 .col-xs-offset-6,
.less1c .grid-col-override-11 .col-xs-offset-6,
.less1d .grid-col-override-11 .col-xs-offset-6 {
  margin-left: 54.54545455%;
}
.less1b .grid-col-override-11 .col-xs-5,
.less1c .grid-col-override-11 .col-xs-5,
.less1d .grid-col-override-11 .col-xs-5 {
  width: 45.45454545%;
}
.less1b .grid-col-override-11 .col-xs-offset-5,
.less1c .grid-col-override-11 .col-xs-offset-5,
.less1d .grid-col-override-11 .col-xs-offset-5 {
  margin-left: 45.45454545%;
}
.less1b .grid-col-override-11 .col-xs-4,
.less1c .grid-col-override-11 .col-xs-4,
.less1d .grid-col-override-11 .col-xs-4 {
  width: 36.36363636%;
}
.less1b .grid-col-override-11 .col-xs-offset-4,
.less1c .grid-col-override-11 .col-xs-offset-4,
.less1d .grid-col-override-11 .col-xs-offset-4 {
  margin-left: 36.36363636%;
}
.less1b .grid-col-override-11 .col-xs-3,
.less1c .grid-col-override-11 .col-xs-3,
.less1d .grid-col-override-11 .col-xs-3 {
  width: 27.27272727%;
}
.less1b .grid-col-override-11 .col-xs-offset-3,
.less1c .grid-col-override-11 .col-xs-offset-3,
.less1d .grid-col-override-11 .col-xs-offset-3 {
  margin-left: 27.27272727%;
}
.less1b .grid-col-override-11 .col-xs-2,
.less1c .grid-col-override-11 .col-xs-2,
.less1d .grid-col-override-11 .col-xs-2 {
  width: 18.18181818%;
}
.less1b .grid-col-override-11 .col-xs-offset-2,
.less1c .grid-col-override-11 .col-xs-offset-2,
.less1d .grid-col-override-11 .col-xs-offset-2 {
  margin-left: 18.18181818%;
}
.less1b .grid-col-override-11 .col-xs-1,
.less1c .grid-col-override-11 .col-xs-1,
.less1d .grid-col-override-11 .col-xs-1 {
  width: 9.09090909%;
}
.less1b .grid-col-override-11 .col-xs-offset-1,
.less1c .grid-col-override-11 .col-xs-offset-1,
.less1d .grid-col-override-11 .col-xs-offset-1 {
  margin-left: 9.09090909%;
}
.less1b .grid-col-override-10 .col-xs-10,
.less1c .grid-col-override-10 .col-xs-10,
.less1d .grid-col-override-10 .col-xs-10 {
  width: 100%;
}
.less1b .grid-col-override-10 .col-xs-offset-10,
.less1c .grid-col-override-10 .col-xs-offset-10,
.less1d .grid-col-override-10 .col-xs-offset-10 {
  margin-left: 100%;
}
.less1b .grid-col-override-10 .col-xs-9,
.less1c .grid-col-override-10 .col-xs-9,
.less1d .grid-col-override-10 .col-xs-9 {
  width: 90%;
}
.less1b .grid-col-override-10 .col-xs-offset-9,
.less1c .grid-col-override-10 .col-xs-offset-9,
.less1d .grid-col-override-10 .col-xs-offset-9 {
  margin-left: 90%;
}
.less1b .grid-col-override-10 .col-xs-8,
.less1c .grid-col-override-10 .col-xs-8,
.less1d .grid-col-override-10 .col-xs-8 {
  width: 80%;
}
.less1b .grid-col-override-10 .col-xs-offset-8,
.less1c .grid-col-override-10 .col-xs-offset-8,
.less1d .grid-col-override-10 .col-xs-offset-8 {
  margin-left: 80%;
}
.less1b .grid-col-override-10 .col-xs-7,
.less1c .grid-col-override-10 .col-xs-7,
.less1d .grid-col-override-10 .col-xs-7 {
  width: 70%;
}
.less1b .grid-col-override-10 .col-xs-offset-7,
.less1c .grid-col-override-10 .col-xs-offset-7,
.less1d .grid-col-override-10 .col-xs-offset-7 {
  margin-left: 70%;
}
.less1b .grid-col-override-10 .col-xs-6,
.less1c .grid-col-override-10 .col-xs-6,
.less1d .grid-col-override-10 .col-xs-6 {
  width: 60%;
}
.less1b .grid-col-override-10 .col-xs-offset-6,
.less1c .grid-col-override-10 .col-xs-offset-6,
.less1d .grid-col-override-10 .col-xs-offset-6 {
  margin-left: 60%;
}
.less1b .grid-col-override-10 .col-xs-5,
.less1c .grid-col-override-10 .col-xs-5,
.less1d .grid-col-override-10 .col-xs-5 {
  width: 50%;
}
.less1b .grid-col-override-10 .col-xs-offset-5,
.less1c .grid-col-override-10 .col-xs-offset-5,
.less1d .grid-col-override-10 .col-xs-offset-5 {
  margin-left: 50%;
}
.less1b .grid-col-override-10 .col-xs-4,
.less1c .grid-col-override-10 .col-xs-4,
.less1d .grid-col-override-10 .col-xs-4 {
  width: 40%;
}
.less1b .grid-col-override-10 .col-xs-offset-4,
.less1c .grid-col-override-10 .col-xs-offset-4,
.less1d .grid-col-override-10 .col-xs-offset-4 {
  margin-left: 40%;
}
.less1b .grid-col-override-10 .col-xs-3,
.less1c .grid-col-override-10 .col-xs-3,
.less1d .grid-col-override-10 .col-xs-3 {
  width: 30%;
}
.less1b .grid-col-override-10 .col-xs-offset-3,
.less1c .grid-col-override-10 .col-xs-offset-3,
.less1d .grid-col-override-10 .col-xs-offset-3 {
  margin-left: 30%;
}
.less1b .grid-col-override-10 .col-xs-2,
.less1c .grid-col-override-10 .col-xs-2,
.less1d .grid-col-override-10 .col-xs-2 {
  width: 20%;
}
.less1b .grid-col-override-10 .col-xs-offset-2,
.less1c .grid-col-override-10 .col-xs-offset-2,
.less1d .grid-col-override-10 .col-xs-offset-2 {
  margin-left: 20%;
}
.less1b .grid-col-override-10 .col-xs-1,
.less1c .grid-col-override-10 .col-xs-1,
.less1d .grid-col-override-10 .col-xs-1 {
  width: 10%;
}
.less1b .grid-col-override-10 .col-xs-offset-1,
.less1c .grid-col-override-10 .col-xs-offset-1,
.less1d .grid-col-override-10 .col-xs-offset-1 {
  margin-left: 10%;
}
.less1b .grid-col-override-9 .col-xs-9,
.less1c .grid-col-override-9 .col-xs-9,
.less1d .grid-col-override-9 .col-xs-9 {
  width: 100%;
}
.less1b .grid-col-override-9 .col-xs-offset-9,
.less1c .grid-col-override-9 .col-xs-offset-9,
.less1d .grid-col-override-9 .col-xs-offset-9 {
  margin-left: 100%;
}
.less1b .grid-col-override-9 .col-xs-8,
.less1c .grid-col-override-9 .col-xs-8,
.less1d .grid-col-override-9 .col-xs-8 {
  width: 88.88888889%;
}
.less1b .grid-col-override-9 .col-xs-offset-8,
.less1c .grid-col-override-9 .col-xs-offset-8,
.less1d .grid-col-override-9 .col-xs-offset-8 {
  margin-left: 88.88888889%;
}
.less1b .grid-col-override-9 .col-xs-7,
.less1c .grid-col-override-9 .col-xs-7,
.less1d .grid-col-override-9 .col-xs-7 {
  width: 77.77777778%;
}
.less1b .grid-col-override-9 .col-xs-offset-7,
.less1c .grid-col-override-9 .col-xs-offset-7,
.less1d .grid-col-override-9 .col-xs-offset-7 {
  margin-left: 77.77777778%;
}
.less1b .grid-col-override-9 .col-xs-6,
.less1c .grid-col-override-9 .col-xs-6,
.less1d .grid-col-override-9 .col-xs-6 {
  width: 66.66666667%;
}
.less1b .grid-col-override-9 .col-xs-offset-6,
.less1c .grid-col-override-9 .col-xs-offset-6,
.less1d .grid-col-override-9 .col-xs-offset-6 {
  margin-left: 66.66666667%;
}
.less1b .grid-col-override-9 .col-xs-5,
.less1c .grid-col-override-9 .col-xs-5,
.less1d .grid-col-override-9 .col-xs-5 {
  width: 55.55555556%;
}
.less1b .grid-col-override-9 .col-xs-offset-5,
.less1c .grid-col-override-9 .col-xs-offset-5,
.less1d .grid-col-override-9 .col-xs-offset-5 {
  margin-left: 55.55555556%;
}
.less1b .grid-col-override-9 .col-xs-4,
.less1c .grid-col-override-9 .col-xs-4,
.less1d .grid-col-override-9 .col-xs-4 {
  width: 44.44444444%;
}
.less1b .grid-col-override-9 .col-xs-offset-4,
.less1c .grid-col-override-9 .col-xs-offset-4,
.less1d .grid-col-override-9 .col-xs-offset-4 {
  margin-left: 44.44444444%;
}
.less1b .grid-col-override-9 .col-xs-3,
.less1c .grid-col-override-9 .col-xs-3,
.less1d .grid-col-override-9 .col-xs-3 {
  width: 33.33333333%;
}
.less1b .grid-col-override-9 .col-xs-offset-3,
.less1c .grid-col-override-9 .col-xs-offset-3,
.less1d .grid-col-override-9 .col-xs-offset-3 {
  margin-left: 33.33333333%;
}
.less1b .grid-col-override-9 .col-xs-2,
.less1c .grid-col-override-9 .col-xs-2,
.less1d .grid-col-override-9 .col-xs-2 {
  width: 22.22222222%;
}
.less1b .grid-col-override-9 .col-xs-offset-2,
.less1c .grid-col-override-9 .col-xs-offset-2,
.less1d .grid-col-override-9 .col-xs-offset-2 {
  margin-left: 22.22222222%;
}
.less1b .grid-col-override-9 .col-xs-1,
.less1c .grid-col-override-9 .col-xs-1,
.less1d .grid-col-override-9 .col-xs-1 {
  width: 11.11111111%;
}
.less1b .grid-col-override-9 .col-xs-offset-1,
.less1c .grid-col-override-9 .col-xs-offset-1,
.less1d .grid-col-override-9 .col-xs-offset-1 {
  margin-left: 11.11111111%;
}
.less1b .grid-col-override-8 .col-xs-8,
.less1c .grid-col-override-8 .col-xs-8,
.less1d .grid-col-override-8 .col-xs-8 {
  width: 100%;
}
.less1b .grid-col-override-8 .col-xs-offset-8,
.less1c .grid-col-override-8 .col-xs-offset-8,
.less1d .grid-col-override-8 .col-xs-offset-8 {
  margin-left: 100%;
}
.less1b .grid-col-override-8 .col-xs-7,
.less1c .grid-col-override-8 .col-xs-7,
.less1d .grid-col-override-8 .col-xs-7 {
  width: 87.5%;
}
.less1b .grid-col-override-8 .col-xs-offset-7,
.less1c .grid-col-override-8 .col-xs-offset-7,
.less1d .grid-col-override-8 .col-xs-offset-7 {
  margin-left: 87.5%;
}
.less1b .grid-col-override-8 .col-xs-6,
.less1c .grid-col-override-8 .col-xs-6,
.less1d .grid-col-override-8 .col-xs-6 {
  width: 75%;
}
.less1b .grid-col-override-8 .col-xs-offset-6,
.less1c .grid-col-override-8 .col-xs-offset-6,
.less1d .grid-col-override-8 .col-xs-offset-6 {
  margin-left: 75%;
}
.less1b .grid-col-override-8 .col-xs-5,
.less1c .grid-col-override-8 .col-xs-5,
.less1d .grid-col-override-8 .col-xs-5 {
  width: 62.5%;
}
.less1b .grid-col-override-8 .col-xs-offset-5,
.less1c .grid-col-override-8 .col-xs-offset-5,
.less1d .grid-col-override-8 .col-xs-offset-5 {
  margin-left: 62.5%;
}
.less1b .grid-col-override-8 .col-xs-4,
.less1c .grid-col-override-8 .col-xs-4,
.less1d .grid-col-override-8 .col-xs-4 {
  width: 50%;
}
.less1b .grid-col-override-8 .col-xs-offset-4,
.less1c .grid-col-override-8 .col-xs-offset-4,
.less1d .grid-col-override-8 .col-xs-offset-4 {
  margin-left: 50%;
}
.less1b .grid-col-override-8 .col-xs-3,
.less1c .grid-col-override-8 .col-xs-3,
.less1d .grid-col-override-8 .col-xs-3 {
  width: 37.5%;
}
.less1b .grid-col-override-8 .col-xs-offset-3,
.less1c .grid-col-override-8 .col-xs-offset-3,
.less1d .grid-col-override-8 .col-xs-offset-3 {
  margin-left: 37.5%;
}
.less1b .grid-col-override-8 .col-xs-2,
.less1c .grid-col-override-8 .col-xs-2,
.less1d .grid-col-override-8 .col-xs-2 {
  width: 25%;
}
.less1b .grid-col-override-8 .col-xs-offset-2,
.less1c .grid-col-override-8 .col-xs-offset-2,
.less1d .grid-col-override-8 .col-xs-offset-2 {
  margin-left: 25%;
}
.less1b .grid-col-override-8 .col-xs-1,
.less1c .grid-col-override-8 .col-xs-1,
.less1d .grid-col-override-8 .col-xs-1 {
  width: 12.5%;
}
.less1b .grid-col-override-8 .col-xs-offset-1,
.less1c .grid-col-override-8 .col-xs-offset-1,
.less1d .grid-col-override-8 .col-xs-offset-1 {
  margin-left: 12.5%;
}
.less1b .grid-col-override-7 .col-xs-7,
.less1c .grid-col-override-7 .col-xs-7,
.less1d .grid-col-override-7 .col-xs-7 {
  width: 100%;
}
.less1b .grid-col-override-7 .col-xs-offset-7,
.less1c .grid-col-override-7 .col-xs-offset-7,
.less1d .grid-col-override-7 .col-xs-offset-7 {
  margin-left: 100%;
}
.less1b .grid-col-override-7 .col-xs-6,
.less1c .grid-col-override-7 .col-xs-6,
.less1d .grid-col-override-7 .col-xs-6 {
  width: 85.71428571%;
}
.less1b .grid-col-override-7 .col-xs-offset-6,
.less1c .grid-col-override-7 .col-xs-offset-6,
.less1d .grid-col-override-7 .col-xs-offset-6 {
  margin-left: 85.71428571%;
}
.less1b .grid-col-override-7 .col-xs-5,
.less1c .grid-col-override-7 .col-xs-5,
.less1d .grid-col-override-7 .col-xs-5 {
  width: 71.42857143%;
}
.less1b .grid-col-override-7 .col-xs-offset-5,
.less1c .grid-col-override-7 .col-xs-offset-5,
.less1d .grid-col-override-7 .col-xs-offset-5 {
  margin-left: 71.42857143%;
}
.less1b .grid-col-override-7 .col-xs-4,
.less1c .grid-col-override-7 .col-xs-4,
.less1d .grid-col-override-7 .col-xs-4 {
  width: 57.14285714%;
}
.less1b .grid-col-override-7 .col-xs-offset-4,
.less1c .grid-col-override-7 .col-xs-offset-4,
.less1d .grid-col-override-7 .col-xs-offset-4 {
  margin-left: 57.14285714%;
}
.less1b .grid-col-override-7 .col-xs-3,
.less1c .grid-col-override-7 .col-xs-3,
.less1d .grid-col-override-7 .col-xs-3 {
  width: 42.85714286%;
}
.less1b .grid-col-override-7 .col-xs-offset-3,
.less1c .grid-col-override-7 .col-xs-offset-3,
.less1d .grid-col-override-7 .col-xs-offset-3 {
  margin-left: 42.85714286%;
}
.less1b .grid-col-override-7 .col-xs-2,
.less1c .grid-col-override-7 .col-xs-2,
.less1d .grid-col-override-7 .col-xs-2 {
  width: 28.57142857%;
}
.less1b .grid-col-override-7 .col-xs-offset-2,
.less1c .grid-col-override-7 .col-xs-offset-2,
.less1d .grid-col-override-7 .col-xs-offset-2 {
  margin-left: 28.57142857%;
}
.less1b .grid-col-override-7 .col-xs-1,
.less1c .grid-col-override-7 .col-xs-1,
.less1d .grid-col-override-7 .col-xs-1 {
  width: 14.28571429%;
}
.less1b .grid-col-override-7 .col-xs-offset-1,
.less1c .grid-col-override-7 .col-xs-offset-1,
.less1d .grid-col-override-7 .col-xs-offset-1 {
  margin-left: 14.28571429%;
}
.less1b .grid-col-override-6 .col-xs-6,
.less1c .grid-col-override-6 .col-xs-6,
.less1d .grid-col-override-6 .col-xs-6 {
  width: 100%;
}
.less1b .grid-col-override-6 .col-xs-offset-6,
.less1c .grid-col-override-6 .col-xs-offset-6,
.less1d .grid-col-override-6 .col-xs-offset-6 {
  margin-left: 100%;
}
.less1b .grid-col-override-6 .col-xs-5,
.less1c .grid-col-override-6 .col-xs-5,
.less1d .grid-col-override-6 .col-xs-5 {
  width: 83.33333333%;
}
.less1b .grid-col-override-6 .col-xs-offset-5,
.less1c .grid-col-override-6 .col-xs-offset-5,
.less1d .grid-col-override-6 .col-xs-offset-5 {
  margin-left: 83.33333333%;
}
.less1b .grid-col-override-6 .col-xs-4,
.less1c .grid-col-override-6 .col-xs-4,
.less1d .grid-col-override-6 .col-xs-4 {
  width: 66.66666667%;
}
.less1b .grid-col-override-6 .col-xs-offset-4,
.less1c .grid-col-override-6 .col-xs-offset-4,
.less1d .grid-col-override-6 .col-xs-offset-4 {
  margin-left: 66.66666667%;
}
.less1b .grid-col-override-6 .col-xs-3,
.less1c .grid-col-override-6 .col-xs-3,
.less1d .grid-col-override-6 .col-xs-3 {
  width: 50%;
}
.less1b .grid-col-override-6 .col-xs-offset-3,
.less1c .grid-col-override-6 .col-xs-offset-3,
.less1d .grid-col-override-6 .col-xs-offset-3 {
  margin-left: 50%;
}
.less1b .grid-col-override-6 .col-xs-2,
.less1c .grid-col-override-6 .col-xs-2,
.less1d .grid-col-override-6 .col-xs-2 {
  width: 33.33333333%;
}
.less1b .grid-col-override-6 .col-xs-offset-2,
.less1c .grid-col-override-6 .col-xs-offset-2,
.less1d .grid-col-override-6 .col-xs-offset-2 {
  margin-left: 33.33333333%;
}
.less1b .grid-col-override-6 .col-xs-1,
.less1c .grid-col-override-6 .col-xs-1,
.less1d .grid-col-override-6 .col-xs-1 {
  width: 16.66666667%;
}
.less1b .grid-col-override-6 .col-xs-offset-1,
.less1c .grid-col-override-6 .col-xs-offset-1,
.less1d .grid-col-override-6 .col-xs-offset-1 {
  margin-left: 16.66666667%;
}
.less1b .grid-col-override-5 .col-xs-5,
.less1c .grid-col-override-5 .col-xs-5,
.less1d .grid-col-override-5 .col-xs-5 {
  width: 100%;
}
.less1b .grid-col-override-5 .col-xs-offset-5,
.less1c .grid-col-override-5 .col-xs-offset-5,
.less1d .grid-col-override-5 .col-xs-offset-5 {
  margin-left: 100%;
}
.less1b .grid-col-override-5 .col-xs-4,
.less1c .grid-col-override-5 .col-xs-4,
.less1d .grid-col-override-5 .col-xs-4 {
  width: 80%;
}
.less1b .grid-col-override-5 .col-xs-offset-4,
.less1c .grid-col-override-5 .col-xs-offset-4,
.less1d .grid-col-override-5 .col-xs-offset-4 {
  margin-left: 80%;
}
.less1b .grid-col-override-5 .col-xs-3,
.less1c .grid-col-override-5 .col-xs-3,
.less1d .grid-col-override-5 .col-xs-3 {
  width: 60%;
}
.less1b .grid-col-override-5 .col-xs-offset-3,
.less1c .grid-col-override-5 .col-xs-offset-3,
.less1d .grid-col-override-5 .col-xs-offset-3 {
  margin-left: 60%;
}
.less1b .grid-col-override-5 .col-xs-2,
.less1c .grid-col-override-5 .col-xs-2,
.less1d .grid-col-override-5 .col-xs-2 {
  width: 40%;
}
.less1b .grid-col-override-5 .col-xs-offset-2,
.less1c .grid-col-override-5 .col-xs-offset-2,
.less1d .grid-col-override-5 .col-xs-offset-2 {
  margin-left: 40%;
}
.less1b .grid-col-override-5 .col-xs-1,
.less1c .grid-col-override-5 .col-xs-1,
.less1d .grid-col-override-5 .col-xs-1 {
  width: 20%;
}
.less1b .grid-col-override-5 .col-xs-offset-1,
.less1c .grid-col-override-5 .col-xs-offset-1,
.less1d .grid-col-override-5 .col-xs-offset-1 {
  margin-left: 20%;
}
.less1b .grid-col-override-4 .col-xs-4,
.less1c .grid-col-override-4 .col-xs-4,
.less1d .grid-col-override-4 .col-xs-4 {
  width: 100%;
}
.less1b .grid-col-override-4 .col-xs-offset-4,
.less1c .grid-col-override-4 .col-xs-offset-4,
.less1d .grid-col-override-4 .col-xs-offset-4 {
  margin-left: 100%;
}
.less1b .grid-col-override-4 .col-xs-3,
.less1c .grid-col-override-4 .col-xs-3,
.less1d .grid-col-override-4 .col-xs-3 {
  width: 75%;
}
.less1b .grid-col-override-4 .col-xs-offset-3,
.less1c .grid-col-override-4 .col-xs-offset-3,
.less1d .grid-col-override-4 .col-xs-offset-3 {
  margin-left: 75%;
}
.less1b .grid-col-override-4 .col-xs-2,
.less1c .grid-col-override-4 .col-xs-2,
.less1d .grid-col-override-4 .col-xs-2 {
  width: 50%;
}
.less1b .grid-col-override-4 .col-xs-offset-2,
.less1c .grid-col-override-4 .col-xs-offset-2,
.less1d .grid-col-override-4 .col-xs-offset-2 {
  margin-left: 50%;
}
.less1b .grid-col-override-4 .col-xs-1,
.less1c .grid-col-override-4 .col-xs-1,
.less1d .grid-col-override-4 .col-xs-1 {
  width: 25%;
}
.less1b .grid-col-override-4 .col-xs-offset-1,
.less1c .grid-col-override-4 .col-xs-offset-1,
.less1d .grid-col-override-4 .col-xs-offset-1 {
  margin-left: 25%;
}
.less1b .grid-col-override-3 .col-xs-3,
.less1c .grid-col-override-3 .col-xs-3,
.less1d .grid-col-override-3 .col-xs-3 {
  width: 100%;
}
.less1b .grid-col-override-3 .col-xs-offset-3,
.less1c .grid-col-override-3 .col-xs-offset-3,
.less1d .grid-col-override-3 .col-xs-offset-3 {
  margin-left: 100%;
}
.less1b .grid-col-override-3 .col-xs-2,
.less1c .grid-col-override-3 .col-xs-2,
.less1d .grid-col-override-3 .col-xs-2 {
  width: 66.66666667%;
}
.less1b .grid-col-override-3 .col-xs-offset-2,
.less1c .grid-col-override-3 .col-xs-offset-2,
.less1d .grid-col-override-3 .col-xs-offset-2 {
  margin-left: 66.66666667%;
}
.less1b .grid-col-override-3 .col-xs-1,
.less1c .grid-col-override-3 .col-xs-1,
.less1d .grid-col-override-3 .col-xs-1 {
  width: 33.33333333%;
}
.less1b .grid-col-override-3 .col-xs-offset-1,
.less1c .grid-col-override-3 .col-xs-offset-1,
.less1d .grid-col-override-3 .col-xs-offset-1 {
  margin-left: 33.33333333%;
}
.less1b .grid-col-override-2 .col-xs-2,
.less1c .grid-col-override-2 .col-xs-2,
.less1d .grid-col-override-2 .col-xs-2 {
  width: 100%;
}
.less1b .grid-col-override-2 .col-xs-offset-2,
.less1c .grid-col-override-2 .col-xs-offset-2,
.less1d .grid-col-override-2 .col-xs-offset-2 {
  margin-left: 100%;
}
.less1b .grid-col-override-2 .col-xs-1,
.less1c .grid-col-override-2 .col-xs-1,
.less1d .grid-col-override-2 .col-xs-1 {
  width: 50%;
}
.less1b .grid-col-override-2 .col-xs-offset-1,
.less1c .grid-col-override-2 .col-xs-offset-1,
.less1d .grid-col-override-2 .col-xs-offset-1 {
  margin-left: 50%;
}
