textarea {
    width: 100px;
    margin: 5px;
    resize: vertical;
}

.selected {
    background-color: azure;
}

pre {
    font-size: 30px;
    opacity: 1;
    background: white;
}

.glyphicon {
    opacity: 0.1;
}

#info {
    display: none;
}

.show-info {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 50px;
    color: blue;
    cursor: pointer;
}

.pseudo-parent-selector1a {
    .tmp-panel {
        padding: 10px;
        > .panel-content {
            border-radius: 5px;
            background: lightgray;
            border: 1px solid gray;
            height: 100px;
            padding: 10px;
        }
    }
    .left-panel {
        .tmp-panel;
    }
    .right-panel {
        .tmp-panel;
    }
    .left-panel:hover {
        > .panel-content {
            background: lightyellow;
            opacity: 0.5;
            color: blue;
            font-weight: bold;
        }
    }
}

.pseudo-parent-selector1b {
    .pseudo-parent-selector1a;
    .left-panel:hover {
        + .right-panel-selector {
            width: 100%;
            height: 100px;
            border: 1px solid blue;
            border-radius: 5px;
        }
    }
}

.pseudo-parent-selector1c {
    .pseudo-parent-selector1a;
    .left-panel:hover {
        + .right-panel-selector {
            width: 200%;
            height: 200%;
            border: 1px solid blue;
            border-radius: 5px;
            z-index: -1;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.negative-margin1a {
    .row {
        margin-top: 50px;
    }
    border: 1px solid gray;
    padding: 10px;
    .row-text {
        text-align: center;
        font-size: 35px;
        height: 50px;
    }
}

.negative-margin1b {
    .row {
        margin-top: 50px;
    }
    border: 1px solid gray;
    padding: 10px;
    .row-text {
        text-align: center;
        font-size: 35px;
        height: 50px;
    }
    .row-text4 {
        border-top: 2px dashed gray;
    }
    .row-text3 {
        border-bottom: 2px dashed gray;
    }
}

.negative-margin1c {
    .row {
        margin-top: 50px;
    }
    border: 1px solid gray;
    padding: 10px;
    .row-text {
        text-align: center;
        font-size: 35px;
        height: 50px;
        >span {
            padding: 0 20px;
        }
    }
    .crossed-line-container {
        padding: 0 30px;
        .crossed-line {
            border-top: 2px dashed gray;
            height: 2px;
        }
    }
}

.negative-margin1d {
    .row {
        margin-top: 50px;
    }
    border: 1px solid gray;
    padding: 10px;
    .row-text {
        text-align: center;
        font-size: 35px;
        height: 50px;
        margin-top: -75px;
        >span {
            padding: 0 20px;
        }
    }
    .crossed-line-container {
        padding: 0 30px;
        .crossed-line {
            border-top: 2px dashed gray;
            height: 2px;
        }
    }
}

.negative-margin1e {
    .row {
        margin-top: 50px;
    }
    border: 1px solid gray;
    padding: 10px;
    .row-text {
        text-align: center;
        font-size: 35px;
        height: 50px;
        margin-top: -75px;
        >span {
            background: white;
            padding: 0 20px;
        }
    }
    .crossed-line-container {
        padding: 0 30px;
        .crossed-line {
            border-top: 2px dashed gray;
            height: 2px;
        }
    }
}


.negative-margin2a {
    .row {
        margin-top: 20px;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
        }
    }
    .left-panel {
        .tmp-panel;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        >div {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}


.negative-margin2b {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}

.negative-margin2c {
    .row {
        margin-top: 20px;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;        
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}

.negative-margin2d {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;        
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}

.negative-margin3a {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}


.negative-margin3b {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
    .left-panel-closer {
        div {
            background: white;
            height: 5px;
            div {
                height: 5px;
                width:100%; 
                background:lightgray;
            }
        }
    }
}


.negative-margin3c {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
    .left-panel-closer {
        div {
            background: white;
            height: 5px;
            div {
                height: 5px;
                width:100%; 
                background:lightgray;
                border-bottom: 3px solid blue;
                border-left: 3px solid blue;
                border-right: 3px solid blue;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}

.negative-margin3d {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
    .left-panel-closer {
        margin-top: -5px;
        div {
            background: white;
            height: 5px;
            div {
                height: 5px;
                width:100%; 
                background:lightgray;
                border-bottom: 3px solid blue;
                border-left: 3px solid blue;
                border-right: 3px solid blue;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}


.negative-margin4a {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
    .left-panel-closer {
        margin-top: -5px;
        div {
            background: white;
            height: 5px;
            div {
                height: 5px;
                width:100%; 
                background:lightgray;
                border-bottom: 3px solid blue;
                border-left: 3px solid blue;
                border-right: 3px solid blue;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
    .left-column:hover {
        .left-panel {
            background: yellow;
            opacity: 0.5;
            color: blue;
            font-weight: bold;
        }
    }
}


.negative-margin4b {
    .row {
        margin-top: 20px;
        overflow: hidden;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
            border: 3px solid blue;
            border-radius: 5px;
        }
    }
    .left-panel {
        background: lightgray;
        padding-bottom: 1000px;
        margin-bottom: -1000px;
        border: 3px solid blue;
        border-radius: 5px;
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 10px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }

    .left-panel-closer {
        width: 100%;
        background: white;
        > div {
            height: 5px;
            width:100%; 
            background:lightgray;
            border-bottom: 3px solid blue;
            border-left: 3px solid blue;
            border-right: 3px solid blue;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-top: -4px; 
        }   
    }

    .left-column:hover {
        .left-panel {
            background: yellow;
            opacity: 0.5;
            color: blue;
            font-weight: bold;
        }
        & ~ .left-panel-closer-column {
            .left-panel-closer {
                > div {
                    background: yellow;
                    opacity: 0.5;
                }
            }
        }
    }
}


.negative-margin5 {
    .thin-line {
        width:100%; 
        height:3px; 
        background: lightgray; 
        display:block; 
        margin-top: 40px;  
    }
    .row {
        margin-top: 20px;
    }
    .tmp-panel {
        > .panel-content {
            background: lightgray;
        }
    }
    .left-panel {
        background: lightgray;      
    }
    .right-panel {
        .tmp-panel;
    }
    .right-column {
        .right-panel {
            margin-top: 30px;
            &:first-child {
                margin-top: 0;
            }
        } 
    }
}


.borders1a {
    .negative-margin5;
    
    .drop-hover {
        border: 3px solid blue;
    }
}


.borders1b {
    .negative-margin5;

    .drop-hover {
        box-shadow: 0 0 0 3px blue;
    }
}


.first-element1a {
    .negative-margin5;

    .drop-hover {
        box-shadow: 0 0 0 3px blue;
    }
    
}


.first-element1b {
    .negative-margin5;

    .drop-hover {
        box-shadow: 0 0 0 3px blue;
    }
    .drop-hover ~ .drop-hover {
        box-shadow: initial;
    }
}

.css-functions1a {
    .side-window {
        .side-header {
            width: 500px;
            height: 100px;
            position: fixed;
            left: 0;
            top: 0;
            background: lightblue;
        }
        .side-content {
            width: 500px;
            height: 100%;
            overflow: scroll;
            position: fixed;
            top: 100px;
            left: 0;
            background: lightgray;
        }
    }
    .rest-of-window {
        margin-left: 550px;
    }
}

.css-functions1b {
    .side-window {
        .side-header {
            width: 500px;
            height: 100px;
            position: fixed;
            left: 0;
            top: 0;
            background: lightblue;
        }
        .side-content {
            width: 500px;
            height: ~"calc(100% - 100px)";
            overflow: scroll;
            position: fixed;
            top: 100px;
            left: 0;
            background: lightgray;
        }
    }
    .rest-of-window {
        margin-left: 550px;
    }
}

.css-functions2a {
    .middle-bar {
        position: fixed;
        left: 50%;
        top: 0;
        width: 20px;
        height: 100%;
        background: lightblue;
        border: 1px solid blue;
        .resizable-content {
            position: relative;
            left: 20px;
            top: 0;
            background: lightgreen;
            border: 1px solid green;
            resize: both;
            overflow: auto;
            padding: 50px;
        }
    }
}

.css-functions2b {
    .middle-bar {
        position: fixed;
        left: 50%;
        top: 0;
        width: 20px;
        height: 100%;
        background: lightblue;
        border: 1px solid blue;
        .resizable-content {
            position: relative;
            left: -100%;
            width: 100%;
            top: 0;
            background: lightgreen;
            border: 1px solid green;
            resize: both;
            overflow: auto;
            padding: 50px;
        }
    }
}

.css-functions2c {
    .middle-bar {
        position: fixed;
        left: 50%;
        top: 0;
        width: 20px;
        height: 100%;
        background: lightblue;
        border: 1px solid blue;
        .resizable-content {
            position: relative;
            left: 0;
            top: 0;
            background: lightgreen;
            border: 1px solid green;
            transform: translate(-100%);
            resize: both;
            overflow: auto;
            padding: 50px;
        }
    }
}

.page-header {
    background-color: azure;
    height: 50px;
    width: 100%;
}

.css-functions3a {
    .col-xs-2 {
        height: 300px;
        background-color: lightyellow;
    }
    .tab-header {
        background-color: yellow;
        width: 100%;
        height: 50px;
        h2 { margin-top: 0; }
    }
}

.css-functions3b {
    .col-xs-2 {
        height: 300px;
        background-color: lightyellow;
    }
    .tab-header {
        background-color: yellow;
        width: ~"calc((100vw - 120%) / 2 + 100%)";
        height: 50px;
        h2 { margin-top: 0; }
    }
}

.css-functions3c {
    .col-xs-2 {
        height: 300px;
        background-color: lightyellow;
    }
    .tab-header {
        background-color: yellow;
        width: ~"calc((100vw - 120%) / 2 + 100% - 50px)";
        height: 50px;
        h2 { margin-top: 0; }
    }
}

.css-functions3d {
    .col-xs-2 {
        height: 300px;
        background-color: lightyellow;
    }
    .tab-header {
        background-color: yellow;
        width: ~"calc((100vw - 120%) / 2 + 100% - 50px)";
        box-shadow: 100px 0 0 0 yellow;
        height: 50px;
        h2 { margin-top: 0; }
    }
}
