<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" >
    <script src="node_modules/jquery.2/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <link href="cssdemo.css" rel="stylesheet">
</head>
<body>
<div style="width: 100%; height: 100%; display: flex; position: absolute">
        <div style="width:200px; padding: 5px;" ng-app="cssdemoapp" ng-controller="cssdemocontroller">
            <div ng-repeat="page in pages" ng-class="{'selected': page === selectedPage}">{{selected}}
                <a href="{{page}}.html" target="contents" ng-click="selectPage(page)">{{page}}</a><br>
            </div>
        </div>
        <div style="width: 100%; height: 100%">
    	    <iframe name="contents" style="width:100%; height: 100%" src="Start1.html"></iframe>
        </div>
</div>
<script>
    var app = angular.module("cssdemoapp",[]);
    app.controller("cssdemocontroller", function($scope) {
        $scope.selectedPage = "Start1";
        $scope.selectPage = function(page) {$scope.selectedPage = page;};
        $scope.pages = [
            "Start1",
            "Start2",
            "PseudoParentSelector1",
            "PseudoParentSelector1a",
            "PseudoParentSelector1b",
            "PseudoParentSelector1c",
            "PseudoParentSelector1d",
            "NegativeMargin1",
            "NegativeMargin1a",
            "NegativeMargin1b",
            "NegativeMargin1c",
            "NegativeMargin1d",
            "NegativeMargin1e",
            "NegativeMargin2",
            "NegativeMargin2a",
            "NegativeMargin2b",
            "NegativeMargin2c",
            "NegativeMargin2d",
            "NegativeMargin3",
            "NegativeMargin3a",
            "NegativeMargin3b",
            "NegativeMargin3c",
            "NegativeMargin3d",
            "NegativeMargin4",
            "NegativeMargin4a",
            "NegativeMargin4b",
            "Borders1",
            "Borders1a",
            "Borders1b",
            "FirstElement1",
            "FirstElement1a",
            "FirstElement1b",
            "CssFunctions1",
            "CssFunctions1a",
            "CssFunctions1b",
            "CssFunctions2",
            "CssFunctions2a",
            "CssFunctions2b",
            "CssFunctions2c",
            "CssFunctions3",
            "CssFunctions3a",
            "CssFunctions3b",
            "CssFunctions3c",
            "CssFunctions3d",
            "Less1",
            "Less1a",
            "Less1b",
            "Less1c",
            "Less1d",
            "Summary1"
        ];
    });
</script>
</body>
</html>
