<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css" >
    <link rel="stylesheet" href="node_modules/toastr/build/toastr.css" >
    <script src="node_modules/jquery.2/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/toastr/build/toastr.min.js"></script>
    <link href="cssdemo.css" rel="stylesheet">
    <script src="cssdemo.js"></script>
</head>
<body>
    <div class="container">
        <div ng-app="" class="negative-margin4b">
            <div ng-repeat="row in [1,2,3,4,5,6]">
                <div class="row">
                    <div>
                        <div>
                            <div class="col-xs-6 left-column">
                                <div class="left-panel">
                                    <div class="panel-content"><textarea>Left {{row}}</textarea></div>
                                </div>
                            </div>
                            <div class="col-xs-6 right-column">
                                <div class="right-panel"><div class="panel-content" ><textarea>Right {{row}} A</textarea></div></div>
                                <div class="right-panel" ng-if="row > 1"><div class="panel-content"><textarea>Right {{row}} B</textarea></div></div>
                                <div class="right-panel" ng-if="row > 3"><div class="panel-content"><textarea>Right {{row}} B</textarea></div></div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-6 left-panel-closer-column">
                                <div class="left-panel-closer">
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:hidden" id="info">
        <h2>We can't really do anything as long as elements are in different rows</h2>
        <h2>But we can move them into the same row and display after clearfix</h2>
        <h2>Now that they are siblings we can use selector of preceding element to modify the style of closing element</h2>
        <pre>
            :hover {
                ...
                & ~ .left-panel-closer {
                    background: yellow;
                    opacity: 0.5;
                }
            }
        </pre>
    </div>
</body>
</html>
