.prettycheckbox-small .prettycheckbox {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.prettycheckbox-small .prettycheckbox label {
  display: block;
  float: left;
  margin: 0;
  cursor: pointer;
}
.prettycheckbox-small .prettycheckbox > a {
  height: 32.9px;
  width: 32.9px;
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  background: url('ico_checkboxes.png');
  background-size: 394.8px 32.9px;
  background-position: 0 0;
}
.prettycheckbox-small .prettycheckbox > a:focus {
  background-position: -32.9px 0;
  outline: 0 none;
}
.prettycheckbox-small .prettycheckbox > a.checked {
  background-position: -65.8px 0;
}
.prettycheckbox-small .prettycheckbox > a.checked:focus {
  background-position: -98.7px 0;
}
.prettycheckbox-small .prettycheckbox > a.checked.disabled {
  background-position: -164.5px 0;
}
.prettycheckbox-small .prettycheckbox > a.disabled {
  background-position: -131.6px 0;
}
.prettycheckbox-small .prettycheckbox a.disabled,
.prettycheckbox-small .prettycheckbox .prettycheckbox label.disabled,
.prettycheckbox-small .prettycheckbox .prettyradio a.disabled,
.prettycheckbox-small .prettycheckbox .prettyradio label.disabled {
  cursor: not-allowed;
}
.prettycheckbox-big .prettycheckbox {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
}
.prettycheckbox-big .prettycheckbox label {
  display: block;
  float: left;
  margin: 0;
  cursor: pointer;
}
.prettycheckbox-big .prettycheckbox > a {
  height: 94px;
  width: 94px;
  display: block;
  float: left;
  cursor: pointer;
  margin: 0;
  background: url('ico_checkboxes.png');
  background-size: 1128px 94px;
  background-position: 0 0;
}
.prettycheckbox-big .prettycheckbox > a:focus {
  background-position: -94px 0;
  outline: 0 none;
}
.prettycheckbox-big .prettycheckbox > a.checked {
  background-position: -188px 0;
}
.prettycheckbox-big .prettycheckbox > a.checked:focus {
  background-position: -282px 0;
}
.prettycheckbox-big .prettycheckbox > a.checked.disabled {
  background-position: -470px 0;
}
.prettycheckbox-big .prettycheckbox > a.disabled {
  background-position: -376px 0;
}
.prettycheckbox-big .prettycheckbox a.disabled,
.prettycheckbox-big .prettycheckbox .prettycheckbox label.disabled,
.prettycheckbox-big .prettycheckbox .prettyradio a.disabled,
.prettycheckbox-big .prettycheckbox .prettyradio label.disabled {
  cursor: not-allowed;
}
